/*
 * SCREEN.CSS FOR HATCHD
 * BY ED FRYER
 * THEPIXEL.NINJA
 * FILE CREATED USING SASS
 */

/*
 * VARIABLES
 */

/*-----fonts-----*/
$headingFont    : "Lobster",cursive;
$headingRegular : 400;

$subHeadingFont     : "Source Sans Pro",Arial,Helvetica,sans-serif;
$subHeadingBold     : 600;
$subHeadingRegular  : 400;
$subHeadingLight    : 300;

$bodyFont       : Arial,Helvetica,sans-serif;
$bodyBold       : bold;
$bodyRegular    : normal;

/*-----colors-----*/
$primaryBrandColor              : #dd6c5c;
$primaryBrandColorLowlight      : #ca5a4a;

$secondaryBrandColor            : #45626A;
$secondaryBrandColorLowlight    : #314b52;

$lightColor         : #f8f3ef;
$darkColor          : #333;
$lightGrey          : #f1f1f1;

/*-----z-indexes-----*/
$layer1 : 1;
$layer2 : 10;
$layer3 : 20;
$layer4 : 30;
$layer5 : 40;
$layer6 : 50;

/*
 * MIXINS
 */

@mixin transition-all($speed){
  -webkit-transition:all $speed;
  -moz-transition:all $speed;
  -ms-transition:all $speed;
  -o-transition:all $speed;
  transition:all $speed;
}

@mixin transform($prop){
  -webkit-transform:$prop;
  -moz-transform:$prop;
  -ms-transform:$prop;
  -o-transform:$prop;
  transform:$prop;
}

@mixin border-radius($px){
  -webkit-border-radius:$px;
  -moz-border-radius:$px;
  -ms-border-radius:$px;
  -o-border-radius:$px;
  border-radius:$px;
}

@mixin circle($px){
  width:$px;
  height:$px;
  overflow:hidden;
  display:block;
  @include border-radius($px);
}

@mixin rotate($deg){
  -webkit-transform:rotate($deg);
  -moz-transform:rotate($deg);
  -ms-transform:rotate($deg);
  -o-transform:rotate($deg);
  transform:rotate($deg);
}

@mixin box-shadow($shadow){
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  -ms-box-shadow:$shadow;
  -o-box-shadow:$shadow;
  box-shadow:$shadow;
}

@mixin text-shadow($shadow){
  -webkit-text-shadow:$shadow;
  -moz-text-shadow:$shadow;
  -ms-text-shadow:$shadow;
  -o-text-shadow:$shadow;
  text-shadow:$shadow;
}

@mixin word-break(){
  -ms-word-break:break-all;
  word-break:break-all;
  word-break:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto;
}

@mixin filter($filter){
  filter:$filter;
  -webkit-filter:$filter;
  -moz-filter:$filter;
  -ms-filter:$filter;
  -o-filter:$filter;
}

@mixin cols($no,$gap){
  -webkit-columns:$no $gap;
  -moz-columns:$no $gap;
  -ms-columns:$no $gap;
  -o-columns:$no $gap;
  columns:$no $gap;
}

/*
 * FONTS
 */

h1 {
  font-family:$headingFont;
  font-weight:$headingRegular;
  font-size:200%;
}

h2,h2 *,
h3,h3 *,
h4,h4 *,
h5,h5 *
h6,h6 * {
  font-family:$subHeadingFont;
  font-weight:$subHeadingLight;
}

h2 {
  font-size:180%;
}

h3 {
  font-size:160%;
}

h4 {
  font-size:140%;
}

h5 {
  font-size:120%;
}

h6 {
  font-size:100%;
}

/*
 * IMAGES
 */

img {
  width:100%;
  height:auto;
  display:block;
  max-width:100%;
}

/*
 * LINKS
 */

a,a:visited,a:hover,a:active {
  color:$primaryBrandColor;
}

/*
 * STRUCTURE AND MISC
 */

html,body {
  color:$secondaryBrandColor;
  overflow-x:hidden;
  height:100%;
  width:100%;
}

html {
   //background:$secondaryBrandColor;
}

body {
  height:auto;
  min-height:100%;
  background:transparent;
}

#page,
#mainNav {
  //opacity:1;
}

#preload {
  overflow:hidden;
  opacity:0;
  width:0px;
  height:0px;
}

.logo {
  display:block; 
  width:126px; 
  height:180px;
  background:$primaryBrandColor; 
  @include border-radius(50% 50% 50% 50% / 60% 60% 40% 40%);
  margin:0 auto;
  color:$lightColor !important;
  font-family:$headingFont;
  position:relative;
  text-align:center;
  overflow:hidden;
  span {
    position:absolute;
    bottom:40px;
    display:block;
    width:100%;
    @include text-shadow(1px 1px 1px rgba(0,0,0,0.6));
    @include rotate(-10deg);
    font-size:250%;
    line-height:0.9em;
    small {
      font-size:60%;
      width:100%;
      display:inline-block;
    }
  }
}

#backToTop {
  @include transition-all(1s);
  position:fixed;
  bottom:10px;
  right:10px;
  background:$secondaryBrandColor;
  color:$lightColor;
  padding:10px;
  font-size:200%;
  cursor:pointer;
  line-height:1;
  opacity:0;
  z-index:$layer4;
}

.date {
  span {
    margin:0 5px 0 0;
    color:$secondaryBrandColor;
    font-family:$subHeadingFont;
  }
}

/*
 * MAIN NAV
 */

nav#mainNav {
  width:250px;
  height:100%;
  color:$lightColor;
  background:$secondaryBrandColor;
  position:fixed;
  top:0px;
  left:-250px;
  font-family:$subHeadingFont;
  text-transform:uppercase;
  z-index:$layer6;
  @include transition-all(0.5s);
  .logo {
    position:absolute;
    top:-170px;
    width:200px;
    height:250px;
  }
  ul {
    list-style-type:none;
    padding:0px;
    width:100%;
    li {
      width:100%;
      a {
        padding:10px;
        color:$lightColor !important;
        display:block;
        text-decoration:none;
        border-bottom:2px solid $secondaryBrandColorLowlight;
        font-size:120%;
      }
      a:hover {
        background:$secondaryBrandColorLowlight;
      }
    }
    li.active > a {
      background:$primaryBrandColor;
    }
  }
  ul.children {
    display:none !important;
  }
  i#menuIcon {
    position:absolute;
    top:0px;
    right:-50px;
    color:$lightColor;
    padding:11px;
    font-size:200%;
    cursor:pointer;
    background:$primaryBrandColor;
    display:block;
    width:50px;
    height:50px;
    text-align:center;
  }
  #menuTitle {
    border-bottom:2px solid $secondaryBrandColorLowlight;
    padding:10px;
    @include text-shadow(1px 1px 1px rgba(0,0,0,0.6));
    background:$secondaryBrandColorLowlight;
    * {
      padding:0px;
      margin:0px;
      font-family:$headingFont;
      font-weight:$headingRegular;
      font-size:150%;
    }
  }
}

html.navOpen {
  background-image:none;
  #page {
    left:250px;
    opacity:0.5 !important;
  }
  nav#mainNav {
    left:0px;
  }
}

@media screen and (max-width:992px){
 nav#mainNav {
   .container {
     padding:0px;
     width:100%;
   }
 } 
}

/*
 * SOCIAL BUTTONS
 */

.socialButtons {
  a {
    padding:0px;
    margin:2px 0 0 5px;
    width:30px;
    height:30px;
    float:left;
    display:block;
  }
  a:first-child {
    margin:2px 0 0 0;
  }
  a:before {
    line-height:1em;
    font-size:25px;
    left:0px;
    top:0px;
  }
  a:before,
  a:after {
    @include transition-all(0.5s);
  }
}

/*
 * HEADER
 */

header {
  width:100%;
  background:$darkColor;
  text-align:center;
  color:$lightColor;
  position:relative;
  z-index:$layer1;
  #siteSocial {
    background:$secondaryBrandColor;
    height:50px;
    overflow:hidden;
    padding:10px;
    a:before,
    a:after {
      color:$lightColor;
    }
    a:hover:before,
    a:hover:after {
      color:$primaryBrandColor;
    }
    a#eggsplosion {
      width:auto;
      height:auto;
      background:$primaryBrandColor;    
      color:$lightColor !important;
      padding:5px 10px;
      @include border-radius(8px);
      @include box-shadow(0px 1px 1px rgba(0,0,0,0.6) inset);
      text-decoration:none;
      font-size:80%;
      font-family:$subHeadingFont;
      text-transform:uppercase;
      margin:0 10px 0 0;
      @include transition-all(0.5s);
    }
    a#eggsplosion:hover {
      background:$lightColor;
      color:$primaryBrandColor !important;       
    }
  }
  #featuredImage {
    background:center center no-repeat;
    background-size:cover;
    #innerFeatured {
      padding:20px 0;
    }
    #googleMap {
      width:100%;
      height:100%;
      background:$darkColor;
    }
  }
}

/*
 * FEATURE SLIDER
 */

#featureSlider {
  color:$lightColor;
  #slider {
    text-align:center;
    margin:0 auto;
    .carousel-indicators {
      padding:0px;
    }
    .carousel-inner {
      .item {
        max-height:500px;
        overflow:hidden;
        .featureSlide {
          display:block;
          height:0px;
          padding-bottom:40%;
          background:no-repeat center center;
          background-size:cover;
        }
      }
    }
  }
}

/*
 * SIDEBAR
 */

#sideBar {
  border-top:5px solid $lightGrey;
  padding:30px 0 0 0;
  width:100%;
  float:left;
  .pod {
    margin:0 0 30px 0;
    .podTitle {
      border:2px solid $primaryBrandColor;
      color:$primaryBrandColor;
      padding:10px;
      cursor:pointer;
      position:relative;
      * {
        padding:0px;
        margin:0px;
        font-family:$headingFont;
      }
      h3:after {
        content:"✚";
        display:block;
        color:$primaryBrandColor;
        line-height:15px;
        position:absolute;
        width:18px;
        height:18px;
        right:10px;
        top:50%;
        margin-top:-9px;
        font-size:22px;
      }
    }
    .podContent {
      border:2px solid $primaryBrandColor;
      border-top:none;
      font-family:$subHeadingFont;
      display:none;
      ul {
        padding:0px;
        margin:0px;
        width:100%;
        li {
          width:100%;
          a {
            text-decoration:none;
            padding:10px;
            display:block;
            border-bottom:2px solid $primaryBrandColor;
          }
          a:hover {
            background:$lightGrey;
          }
        }
        li:last-child a {
          border-bottom:none;
        }
        li.active a:before,
        li.current-cat a:before {
          content:"▸";
          padding:0 5px 0 0;
        }
      }
      .podItem {
        padding:10px;
        border-bottom:2px solid $primaryBrandColor;
        .fileIcon {
          width:30px;
          height:auto;
          display:inline-block;
          margin:0 10px 0 0;
        }
      }
      .podItem:last-child {
        border:none;
      }
    }
  }
}

/*
 * BREAD
 */

#bread {
  font-family:$subHeadingFont;
  text-transform:uppercase;
  margin:0 0 10px 0;
  li {
    padding:0px;
    span {
      color:$darkColor;
    }
    a {
      color:$darkColor !important;
    }
    .active {
      color:$primaryBrandColor !important;
    }
  }
}

/*
 * MAIN CONTENT
 */

#mainContent {
  background:#fff;
  #innerMainContent {
    padding:20px;
    background:#fff;
    position:relative;
    z-index:$layer2;
    .content {
      float:left;
      width:100%;
      position:relative;
      .titleArea {
        margin:0 0 20px 0;
        * {
          margin:0px;
        }
        h1 {
          font-size:400%;
          color:$primaryBrandColor;
          margin:0 0 10px 0;
        }
        h2 {
          font-size:250%;
        }
      }
    }
  }
}

/*
 * EDITABLE CONTENT
 */

.editableContent {
  margin:0 0 30px 0;
  float:left;
  width:100%;
  font-size:16px;
  h1,h2,h3,h4,h5,h6 {
    margin:30px 0;
    text-transform:none;
  }
  a:hover {
    text-decoration:underline;
  }
  ul,
  ol {
    margin:20px 0;
    padding:0 0 0 15px;
  }
  .gallery {
    width:100%;
    margin:0 0 20px 0;
    .gallery-item {
      border:1px solid #fff;
      width:100%;
      img {
        max-width:100%;
        width:100%;
        height:auto;
        padding:0px;
      }
      .gallery-caption {
        padding:5px;
      }
    }
  }
}

/*
 * BUTTONS
 */

.btn {
  border:2px solid $primaryBrandColor;
  @include border-radius(0px);
  cursor:pointer;
  font-family:$subHeadingFont;
  text-transform:uppercase;
  @include box-shadow(none !important);
  background:none;
  color:$primaryBrandColor !important;
  margin-bottom:5px;
}

.btn:hover:after {
  content:" \2192";
}

.btn.btn-light {
  border-color:$lightColor;
  color:$lightColor !important;
}

.btn.loading {
  cursor:wait;
}

.btn-large {
  font-size:18px;
  padding:12px 24px;
}

.btn-full {
  width:100%;
}

/*
 * FORMS
 */

body#hatchd .gform_wrapper {
  max-width:100%;
  margin:0px;
}

form,
body#hatchd .gform_wrapper form {
  font-family:$subHeadingFont;
  margin:0 0 30px 0;
  .gform_heading {
    display:none;
  }
  input,textarea,select {
    @include border-radius(0px);
    @include box-shadow(none !important);
    @include transition-all(0.5s);
    border:2px solid $primaryBrandColor;
    padding:10px !important;
    color:$primaryBrandColor;
    font-size:100% !important;
    line-height:1;
    height:auto;
  }
  input:focus:valid,
  select:focus:valid,
  textarea:focus:valid {
    border-color:#7caf22;
    color:#7caf22;
  }
  input:focus:invalid,
  select:focus:invalid,
  textarea:focus:invalid,
  .error input,
  .error select,
  .error textarea {
    border-color:#d83939;
    color:#d83939;
  }
  .gfield_checkbox {
    input {
      position:relative;
      top:3px;
    }
    label {
      font-family:$bodyFont;
      font-weight:$bodyRegular;
    }
  }
  .validation_message,
  .validation_error {
    color:#d83939;
  }
  .gform_body ul li.gfield_error {
    border:none !important;
    background:transparent !important;
    margin:0px !important;
    padding:0px !important;
    width:auto !important;
    .form-group {
      position:relative;
      .validation_message {
        position:absolute;
        top:10px;
        right:10px;
      }
    }
  }
  .gform_footer {
    margin:0px;
    padding:0px;
  }
}

.mainContactForm label {
  display:block !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:$primaryBrandColor !important;
  opacity:1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:$primaryBrandColor !important;
  opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:$primaryBrandColor !important;
  opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:$primaryBrandColor !important;
}

.custMessage {
  width:100%;
  float:left;
}

/*
 * POST LIST
 */

.postList {
  margin:20px 0 20px 0;
  padding:0px;
  display:inline-block;
  width:100%;
  li {
    margin:0 0 30px 0;
    padding:0 0 20px 0;
    border-bottom:2px solid $lightGrey;
    position:relative;
    .media {
      .media-heading {
        font-size:250%;
        a {
          font-family:$headingFont;
        }
      }
      .thumb {
        margin:0 0 10px 0;
        display:block;
      }
    }
  }
  li:last-child {
    border:none;
  }
  li.alert {
    padding:15px;
  }
  li.pagination {
    border:none;
    display:list-item;
    .buttons {
      float:right;
    }
  }
}

/*
 * TABS
 */

.tabs {
  .nav-tabs {
    font-family:$headingFont;
    text-transform:uppercase;
    a {
      background:$lightGrey;
      margin-right:5px;
      border-bottom:1px solid #ddd;
      font-size:90%;
    }
  }
  .tab-content {
    position:relative;
    margin:20px 0;
  }
}

/*
 * FOOTER
 */

footer {
  background:$darkColor;
  color:$lightColor;
  padding:10px 0;
  font-family:$headingFont;
  font-size:80%;
  .copyright {
    display:inline-block;
    margin:0 0 5px 0;
  }
  ul {
    margin:0px;
    padding:0px;
    li {
      border-left:1px solid $lightColor;
      a {
        color:$lightColor !important;
      }
    }
    li:first-child {
      border:none;
    }
  }
}

/*----------DIFF SCREEN SIZES----------*/

/*----------handle screen sizes--------//
start with the smallest screen size and
work our way up so phones dont load
unnecessary content. default is
smartphones portrait.
//-------------------------------------*/

/*---PHONE PORTRAIT--*/

@media screen and (min-width:320px){

}

/*--PHONE LANDSCAPE--*/

@media screen and (min-width:480px){

  /*--POSTLIST--*/

  .postList {
    li .media {
      .thumb {
        float:left;
        max-width:200px;
        margin:0 20px 10px 0;
      }
      p,h2 {
        width:80%;
      }
    }
  }

  /*--EDITABLE CONTENT--*/

  .editableContent .gallery .gallery-item {
    width:50%;
  }

}

/*---IPAD PORTRAIT---*/

@media screen and (min-width:768px){
  
}

/*---CUST BOOTSTRAP---*/

@media screen and (min-width:992px){
  
  /*--MAIN NAV--*/
  
  nav#mainNav {
    position:absolute;
    width:100%;
    top:50px;
    height:50px;
    left:0px;
    background:$lightColor;
    #menuIcon,
    #menuTitle {
      display:none !important;
    }
    ul {
      text-align:right;
      margin:0px;
      padding:10px 0;
      li {
        display:inline-block;
        width:auto;
        margin:0 0 0 10px;
        a {
          text-transform:none;
          padding:5px 10px;
          @include border-radius(8px);
          color:$secondaryBrandColor !important;
          border:none;
          font-size:100%;
        }
      }
      li.active a,
      li:hover a {
        color:$lightColor !important;
        @include box-shadow(0px 1px 1px rgba(0,0,0,0.6) inset);
      }
    }
  }
  
  /*--HEADER--*/
 
  header {
    #featuredImage {
      max-height:500px;
      overflow:hidden;
      #innerFeatured {
        padding-bottom:40%;
        max-height:500px;
      }
    }
    #featureSlider {
      #slider {
        .carousel-indicators {
          bottom:100px;
        }
      }
    }
  }
  
  /*--MAIN CONTENT--*/
 
  #mainContent {
    #innerMainContent {
      top:-100px;
    }
  }

  /*--SIDEBAR--*/

  #sideBar {
    border:none;
    padding:0px;
    border-left:5px solid $lightGrey;
    .pod {
      padding:0 20px 20px 20px;
      margin:0 0 30px 0;
      .podTitle {
        padding:0px;
        border:none;
        h3 {
          padding:0px;
          margin:0 0 10px 0;
          font-size:200%;
        }
        h3:after {
          content:"";
        }
      }
      .podContent {
        display:block !important;
        height:auto !important;
        font-family:$bodyFont;
        color:$darkColor;
        border:none;
        ul  {
          li {
            a {
              padding:5px 0;
              color:$darkColor !important;
              border-bottom:2px solid $lightGrey;
            }
            a:hover {
              background:transparent;
              text-decoration:underline;
            }
          }
          li.active a,
          li.current-cat a {
            color:$primaryBrandColor !important;
          }
        }
        .podItem {
          border-bottom:2px solid $lightGrey;
          padding:10px 0px;
        }
      }
    }
  }

  /*--FORMS--*/

  form,
  body#hatchd .gform_wrapper form {
    .gform_body ul {
      width:100%;
      .gfield {
        float:none;
        clear:none;
        .form-group {
          float:left;
          width:50%;
          padding:10px 10px 10px 0;
          margin:0px;
        }
        .input-group {
          width:100%;
          padding:10px 0 !important;
          li {
            width:50%;
            float:left;
            padding:0 5px 5px 0;
          }
        }
        .textarea {
          width:100%;
          padding:10px 0 !important;
        }
      }
      .gfield:nth-child(2n) .form-group {
        padding:10px 0 10px 10px;
      }
    }
    .gform_footer {
      width:100%;
      float:left;
      padding:10px 20px 10px 0;
    }
  }

  /*--EDITABLE CONTENT--*/
  
  .index, .page {
    .editableContent {
      @include cols(2,20px);
    }
  }

  /*--POSTLIST--*/

  .postList {
    li .media {
      p,h2 {
        width:90%;
      }
    }
  }

  /*--FOOTER--*/

  footer {
    ul {
      float:right;
    }
    .copyright {
      margin:0px;
    }
  }

}

/*---IPAD LANDSCAPE--*/

@media screen and (min-width:1024px){


}

/*---LARGE SCREENS---*/

@media screen and (min-width:1025px){


}


/*---EVEN LARGER SCREENS---*/

@media screen and (min-width:1200px){


}
