@charset "UTF-8";
/*
 * SCREEN.CSS FOR HATCHD
 * BY ED FRYER
 * THEPIXEL.NINJA
 * FILE CREATED USING SASS
 */
/*
 * VARIABLES
 */
/*-----fonts-----*/
/*-----colors-----*/
/*-----z-indexes-----*/
/*
 * MIXINS
 */
/*
 * FONTS
 */
h1 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 200%; }

h2, h2 *,
h3, h3 *,
h4, h4 *,
h5, h5 *
h6, h6 * {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 300; }

h2 {
  font-size: 180%; }

h3 {
  font-size: 160%; }

h4 {
  font-size: 140%; }

h5 {
  font-size: 120%; }

h6 {
  font-size: 100%; }

/*
 * IMAGES
 */
img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%; }

/*
 * LINKS
 */
a, a:visited, a:hover, a:active {
  color: #dd6c5c; }

/*
 * STRUCTURE AND MISC
 */
html, body {
  color: #45626A;
  overflow-x: hidden;
  height: 100%;
  width: 100%; }

body {
  height: auto;
  min-height: 100%;
  background: transparent; }

#preload {
  overflow: hidden;
  opacity: 0;
  width: 0px;
  height: 0px; }

.logo {
  display: block;
  width: 126px;
  height: 180px;
  background: #dd6c5c;
  -webkit-border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  -moz-border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  -ms-border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  -o-border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  margin: 0 auto;
  color: #f8f3ef !important;
  font-family: "Lobster", cursive;
  position: relative;
  text-align: center;
  overflow: hidden; }
  .logo span {
    position: absolute;
    bottom: 40px;
    display: block;
    width: 100%;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -o-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    font-size: 250%;
    line-height: 0.9em; }
    .logo span small {
      font-size: 60%;
      width: 100%;
      display: inline-block; }

#backToTop {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #45626A;
  color: #f8f3ef;
  padding: 10px;
  font-size: 200%;
  cursor: pointer;
  line-height: 1;
  opacity: 0;
  z-index: 30; }

.date span {
  margin: 0 5px 0 0;
  color: #45626A;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; }

/*
 * MAIN NAV
 */
nav#mainNav {
  width: 250px;
  height: 100%;
  color: #f8f3ef;
  background: #45626A;
  position: fixed;
  top: 0px;
  left: -250px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  z-index: 50;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  nav#mainNav .logo {
    position: absolute;
    top: -170px;
    width: 200px;
    height: 250px; }
  nav#mainNav ul {
    list-style-type: none;
    padding: 0px;
    width: 100%; }
    nav#mainNav ul li {
      width: 100%; }
      nav#mainNav ul li a {
        padding: 10px;
        color: #f8f3ef !important;
        display: block;
        text-decoration: none;
        border-bottom: 2px solid #314b52;
        font-size: 120%; }
      nav#mainNav ul li a:hover {
        background: #314b52; }
    nav#mainNav ul li.active > a {
      background: #dd6c5c; }
  nav#mainNav ul.children {
    display: none !important; }
  nav#mainNav i#menuIcon {
    position: absolute;
    top: 0px;
    right: -50px;
    color: #f8f3ef;
    padding: 11px;
    font-size: 200%;
    cursor: pointer;
    background: #dd6c5c;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center; }
  nav#mainNav #menuTitle {
    border-bottom: 2px solid #314b52;
    padding: 10px;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -o-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    background: #314b52; }
    nav#mainNav #menuTitle * {
      padding: 0px;
      margin: 0px;
      font-family: "Lobster", cursive;
      font-weight: 400;
      font-size: 150%; }

html.navOpen {
  background-image: none; }
  html.navOpen #page {
    left: 250px;
    opacity: 0.5 !important; }
  html.navOpen nav#mainNav {
    left: 0px; }

@media screen and (max-width: 992px) {
  nav#mainNav .container {
    padding: 0px;
    width: 100%; } }
/*
 * SOCIAL BUTTONS
 */
.socialButtons a {
  padding: 0px;
  margin: 2px 0 0 5px;
  width: 30px;
  height: 30px;
  float: left;
  display: block; }
.socialButtons a:first-child {
  margin: 2px 0 0 0; }
.socialButtons a:before {
  line-height: 1em;
  font-size: 25px;
  left: 0px;
  top: 0px; }
.socialButtons a:before,
.socialButtons a:after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

/*
 * HEADER
 */
header {
  width: 100%;
  background: #333;
  text-align: center;
  color: #f8f3ef;
  position: relative;
  z-index: 1; }
  header #siteSocial {
    background: #45626A;
    height: 50px;
    overflow: hidden;
    padding: 10px; }
    header #siteSocial a:before,
    header #siteSocial a:after {
      color: #f8f3ef; }
    header #siteSocial a:hover:before,
    header #siteSocial a:hover:after {
      color: #dd6c5c; }
    header #siteSocial a#eggsplosion {
      width: auto;
      height: auto;
      background: #dd6c5c;
      color: #f8f3ef !important;
      padding: 5px 10px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
      -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
      -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
      -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
      text-decoration: none;
      font-size: 80%;
      font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      margin: 0 10px 0 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    header #siteSocial a#eggsplosion:hover {
      background: #f8f3ef;
      color: #dd6c5c !important; }
  header #featuredImage {
    background: center center no-repeat;
    background-size: cover; }
    header #featuredImage #innerFeatured {
      padding: 20px 0; }
    header #featuredImage #googleMap {
      width: 100%;
      height: 100%;
      background: #333; }

/*
 * FEATURE SLIDER
 */
#featureSlider {
  color: #f8f3ef; }
  #featureSlider #slider {
    text-align: center;
    margin: 0 auto; }
    #featureSlider #slider .carousel-indicators {
      padding: 0px; }
    #featureSlider #slider .carousel-inner .item {
      max-height: 500px;
      overflow: hidden; }
      #featureSlider #slider .carousel-inner .item .featureSlide {
        display: block;
        height: 0px;
        padding-bottom: 40%;
        background: no-repeat center center;
        background-size: cover; }

/*
 * SIDEBAR
 */
#sideBar {
  border-top: 5px solid #f1f1f1;
  padding: 30px 0 0 0;
  width: 100%;
  float: left; }
  #sideBar .pod {
    margin: 0 0 30px 0; }
    #sideBar .pod .podTitle {
      border: 2px solid #dd6c5c;
      color: #dd6c5c;
      padding: 10px;
      cursor: pointer;
      position: relative; }
      #sideBar .pod .podTitle * {
        padding: 0px;
        margin: 0px;
        font-family: "Lobster", cursive; }
      #sideBar .pod .podTitle h3:after {
        content: "✚";
        display: block;
        color: #dd6c5c;
        line-height: 15px;
        position: absolute;
        width: 18px;
        height: 18px;
        right: 10px;
        top: 50%;
        margin-top: -9px;
        font-size: 22px; }
    #sideBar .pod .podContent {
      border: 2px solid #dd6c5c;
      border-top: none;
      font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      display: none; }
      #sideBar .pod .podContent ul {
        padding: 0px;
        margin: 0px;
        width: 100%; }
        #sideBar .pod .podContent ul li {
          width: 100%; }
          #sideBar .pod .podContent ul li a {
            text-decoration: none;
            padding: 10px;
            display: block;
            border-bottom: 2px solid #dd6c5c; }
          #sideBar .pod .podContent ul li a:hover {
            background: #f1f1f1; }
        #sideBar .pod .podContent ul li:last-child a {
          border-bottom: none; }
        #sideBar .pod .podContent ul li.active a:before,
        #sideBar .pod .podContent ul li.current-cat a:before {
          content: "▸";
          padding: 0 5px 0 0; }
      #sideBar .pod .podContent .podItem {
        padding: 10px;
        border-bottom: 2px solid #dd6c5c; }
        #sideBar .pod .podContent .podItem .fileIcon {
          width: 30px;
          height: auto;
          display: inline-block;
          margin: 0 10px 0 0; }
      #sideBar .pod .podContent .podItem:last-child {
        border: none; }

/*
 * BREAD
 */
#bread {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 0 10px 0; }
  #bread li {
    padding: 0px; }
    #bread li span {
      color: #333; }
    #bread li a {
      color: #333 !important; }
    #bread li .active {
      color: #dd6c5c !important; }

/*
 * MAIN CONTENT
 */
#mainContent {
  background: #fff; }
  #mainContent #innerMainContent {
    padding: 20px;
    background: #fff;
    position: relative;
    z-index: 10; }
    #mainContent #innerMainContent .content {
      float: left;
      width: 100%;
      position: relative; }
      #mainContent #innerMainContent .content .titleArea {
        margin: 0 0 20px 0; }
        #mainContent #innerMainContent .content .titleArea * {
          margin: 0px; }
        #mainContent #innerMainContent .content .titleArea h1 {
          font-size: 400%;
          color: #dd6c5c;
          margin: 0 0 10px 0; }
        #mainContent #innerMainContent .content .titleArea h2 {
          font-size: 250%; }

/*
 * EDITABLE CONTENT
 */
.editableContent {
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  font-size: 16px; }
  .editableContent h1, .editableContent h2, .editableContent h3, .editableContent h4, .editableContent h5, .editableContent h6 {
    margin: 30px 0;
    text-transform: none; }
  .editableContent a:hover {
    text-decoration: underline; }
  .editableContent ul,
  .editableContent ol {
    margin: 20px 0;
    padding: 0 0 0 15px; }
  .editableContent .gallery {
    width: 100%;
    margin: 0 0 20px 0; }
    .editableContent .gallery .gallery-item {
      border: 1px solid #fff;
      width: 100%; }
      .editableContent .gallery .gallery-item img {
        max-width: 100%;
        width: 100%;
        height: auto;
        padding: 0px; }
      .editableContent .gallery .gallery-item .gallery-caption {
        padding: 5px; }

/*
 * BUTTONS
 */
.btn {
  border: 2px solid #dd6c5c;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  cursor: pointer;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  background: none;
  color: #dd6c5c !important;
  margin-bottom: 5px; }

.btn:hover:after {
  content: " \2192"; }

.btn.btn-light {
  border-color: #f8f3ef;
  color: #f8f3ef !important; }

.btn.loading {
  cursor: wait; }

.btn-large {
  font-size: 18px;
  padding: 12px 24px; }

.btn-full {
  width: 100%; }

/*
 * FORMS
 */
body#hatchd .gform_wrapper {
  max-width: 100%;
  margin: 0px; }

form,
body#hatchd .gform_wrapper form {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  margin: 0 0 30px 0; }
  form .gform_heading,
  body#hatchd .gform_wrapper form .gform_heading {
    display: none; }
  form input, form textarea, form select,
  body#hatchd .gform_wrapper form input,
  body#hatchd .gform_wrapper form textarea,
  body#hatchd .gform_wrapper form select {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 2px solid #dd6c5c;
    padding: 10px !important;
    color: #dd6c5c;
    font-size: 100% !important;
    line-height: 1;
    height: auto; }
  form input:focus:valid,
  form select:focus:valid,
  form textarea:focus:valid,
  body#hatchd .gform_wrapper form input:focus:valid,
  body#hatchd .gform_wrapper form select:focus:valid,
  body#hatchd .gform_wrapper form textarea:focus:valid {
    border-color: #7caf22;
    color: #7caf22; }
  form input:focus:invalid,
  form select:focus:invalid,
  form textarea:focus:invalid,
  form .error input,
  form .error select,
  form .error textarea,
  body#hatchd .gform_wrapper form input:focus:invalid,
  body#hatchd .gform_wrapper form select:focus:invalid,
  body#hatchd .gform_wrapper form textarea:focus:invalid,
  body#hatchd .gform_wrapper form .error input,
  body#hatchd .gform_wrapper form .error select,
  body#hatchd .gform_wrapper form .error textarea {
    border-color: #d83939;
    color: #d83939; }
  form .gfield_checkbox input,
  body#hatchd .gform_wrapper form .gfield_checkbox input {
    position: relative;
    top: 3px; }
  form .gfield_checkbox label,
  body#hatchd .gform_wrapper form .gfield_checkbox label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; }
  form .validation_message,
  form .validation_error,
  body#hatchd .gform_wrapper form .validation_message,
  body#hatchd .gform_wrapper form .validation_error {
    color: #d83939; }
  form .gform_body ul li.gfield_error,
  body#hatchd .gform_wrapper form .gform_body ul li.gfield_error {
    border: none !important;
    background: transparent !important;
    margin: 0px !important;
    padding: 0px !important;
    width: auto !important; }
    form .gform_body ul li.gfield_error .form-group,
    body#hatchd .gform_wrapper form .gform_body ul li.gfield_error .form-group {
      position: relative; }
      form .gform_body ul li.gfield_error .form-group .validation_message,
      body#hatchd .gform_wrapper form .gform_body ul li.gfield_error .form-group .validation_message {
        position: absolute;
        top: 10px;
        right: 10px; }
  form .gform_footer,
  body#hatchd .gform_wrapper form .gform_footer {
    margin: 0px;
    padding: 0px; }

.mainContactForm label {
  display: block !important; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #dd6c5c !important;
  opacity: 1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #dd6c5c !important;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #dd6c5c !important;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #dd6c5c !important; }

.custMessage {
  width: 100%;
  float: left; }

/*
 * POST LIST
 */
.postList {
  margin: 20px 0 20px 0;
  padding: 0px;
  display: inline-block;
  width: 100%; }
  .postList li {
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #f1f1f1;
    position: relative; }
    .postList li .media .media-heading {
      font-size: 250%; }
      .postList li .media .media-heading a {
        font-family: "Lobster", cursive; }
    .postList li .media .thumb {
      margin: 0 0 10px 0;
      display: block; }
  .postList li:last-child {
    border: none; }
  .postList li.alert {
    padding: 15px; }
  .postList li.pagination {
    border: none;
    display: list-item; }
    .postList li.pagination .buttons {
      float: right; }

/*
 * TABS
 */
.tabs .nav-tabs {
  font-family: "Lobster", cursive;
  text-transform: uppercase; }
  .tabs .nav-tabs a {
    background: #f1f1f1;
    margin-right: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 90%; }
.tabs .tab-content {
  position: relative;
  margin: 20px 0; }

/*
 * FOOTER
 */
footer {
  background: #333;
  color: #f8f3ef;
  padding: 10px 0;
  font-family: "Lobster", cursive;
  font-size: 80%; }
  footer .copyright {
    display: inline-block;
    margin: 0 0 5px 0; }
  footer ul {
    margin: 0px;
    padding: 0px; }
    footer ul li {
      border-left: 1px solid #f8f3ef; }
      footer ul li a {
        color: #f8f3ef !important; }
    footer ul li:first-child {
      border: none; }

/*----------DIFF SCREEN SIZES----------*/
/*----------handle screen sizes--------//
start with the smallest screen size and
work our way up so phones dont load
unnecessary content. default is
smartphones portrait.
//-------------------------------------*/
/*---PHONE PORTRAIT--*/
/*--PHONE LANDSCAPE--*/
@media screen and (min-width: 480px) {
  /*--POSTLIST--*/
  .postList li .media .thumb {
    float: left;
    max-width: 200px;
    margin: 0 20px 10px 0; }
  .postList li .media p, .postList li .media h2 {
    width: 80%; }

  /*--EDITABLE CONTENT--*/
  .editableContent .gallery .gallery-item {
    width: 50%; } }
/*---IPAD PORTRAIT---*/
/*---CUST BOOTSTRAP---*/
@media screen and (min-width: 992px) {
  /*--MAIN NAV--*/
  nav#mainNav {
    position: absolute;
    width: 100%;
    top: 50px;
    height: 50px;
    left: 0px;
    background: #f8f3ef; }
    nav#mainNav #menuIcon,
    nav#mainNav #menuTitle {
      display: none !important; }
    nav#mainNav ul {
      text-align: right;
      margin: 0px;
      padding: 10px 0; }
      nav#mainNav ul li {
        display: inline-block;
        width: auto;
        margin: 0 0 0 10px; }
        nav#mainNav ul li a {
          text-transform: none;
          padding: 5px 10px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          border-radius: 8px;
          color: #45626A !important;
          border: none;
          font-size: 100%; }
      nav#mainNav ul li.active a,
      nav#mainNav ul li:hover a {
        color: #f8f3ef !important;
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
        -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
        -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) inset; }

  /*--HEADER--*/
  header #featuredImage {
    max-height: 500px;
    overflow: hidden; }
    header #featuredImage #innerFeatured {
      padding-bottom: 40%;
      max-height: 500px; }
  header #featureSlider #slider .carousel-indicators {
    bottom: 100px; }

  /*--MAIN CONTENT--*/
  #mainContent #innerMainContent {
    top: -100px; }

  /*--SIDEBAR--*/
  #sideBar {
    border: none;
    padding: 0px;
    border-left: 5px solid #f1f1f1; }
    #sideBar .pod {
      padding: 0 20px 20px 20px;
      margin: 0 0 30px 0; }
      #sideBar .pod .podTitle {
        padding: 0px;
        border: none; }
        #sideBar .pod .podTitle h3 {
          padding: 0px;
          margin: 0 0 10px 0;
          font-size: 200%; }
        #sideBar .pod .podTitle h3:after {
          content: ""; }
      #sideBar .pod .podContent {
        display: block !important;
        height: auto !important;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        border: none; }
        #sideBar .pod .podContent ul li a {
          padding: 5px 0;
          color: #333 !important;
          border-bottom: 2px solid #f1f1f1; }
        #sideBar .pod .podContent ul li a:hover {
          background: transparent;
          text-decoration: underline; }
        #sideBar .pod .podContent ul li.active a,
        #sideBar .pod .podContent ul li.current-cat a {
          color: #dd6c5c !important; }
        #sideBar .pod .podContent .podItem {
          border-bottom: 2px solid #f1f1f1;
          padding: 10px 0px; }

  /*--FORMS--*/
  form .gform_body ul,
  body#hatchd .gform_wrapper form .gform_body ul {
    width: 100%; }
    form .gform_body ul .gfield,
    body#hatchd .gform_wrapper form .gform_body ul .gfield {
      float: none;
      clear: none; }
      form .gform_body ul .gfield .form-group,
      body#hatchd .gform_wrapper form .gform_body ul .gfield .form-group {
        float: left;
        width: 50%;
        padding: 10px 10px 10px 0;
        margin: 0px; }
      form .gform_body ul .gfield .input-group,
      body#hatchd .gform_wrapper form .gform_body ul .gfield .input-group {
        width: 100%;
        padding: 10px 0 !important; }
        form .gform_body ul .gfield .input-group li,
        body#hatchd .gform_wrapper form .gform_body ul .gfield .input-group li {
          width: 50%;
          float: left;
          padding: 0 5px 5px 0; }
      form .gform_body ul .gfield .textarea,
      body#hatchd .gform_wrapper form .gform_body ul .gfield .textarea {
        width: 100%;
        padding: 10px 0 !important; }
    form .gform_body ul .gfield:nth-child(2n) .form-group,
    body#hatchd .gform_wrapper form .gform_body ul .gfield:nth-child(2n) .form-group {
      padding: 10px 0 10px 10px; }
  form .gform_footer,
  body#hatchd .gform_wrapper form .gform_footer {
    width: 100%;
    float: left;
    padding: 10px 20px 10px 0; }

  /*--EDITABLE CONTENT--*/
  .index .editableContent, .page .editableContent {
    -webkit-columns: 2 20px;
    -moz-columns: 2 20px;
    -ms-columns: 2 20px;
    -o-columns: 2 20px;
    columns: 2 20px; }

  /*--POSTLIST--*/
  .postList li .media p, .postList li .media h2 {
    width: 90%; }

  /*--FOOTER--*/
  footer ul {
    float: right; }
  footer .copyright {
    margin: 0px; } }
/*---IPAD LANDSCAPE--*/
/*---LARGE SCREENS---*/
/*---EVEN LARGER SCREENS---*/

/*# sourceMappingURL=screen.css.map */
